<nav id="pagination">
    {{#if prev}}
        <a id="pagination-newer" href="{{page_url prev}}">Newer Posts</a>
    {{/if}}
    {{#if next}}
        <a id="pagination-older" href="{{page_url next}}">Older Posts</a>
    {{/if}}
</nav>
