{{!< default}}
{{> header}}

<div id="content">
        {{#post}}
            <div class="post-content" itemprop="articleBody">
                {{content}}
            </div>
        {{/post}}    


        {{#if pagination}}
        {{> pagination}}
        {{/if}}
   
</div> 


