{{!< default}}
{{> header}}

<div id="content">
    <div id="maincontent">
        {{#foreach posts}}  
            <article class="rootlist">  
                    <a class="rootlink" href="{{{url}}}">{{title}}</a>
                    <p>{{excerpt}}</p>
            </article>
        {{/foreach}}

        {{#if pagination}}
            {{pagination}}
        {{/if}}
    </div>
</div>
